.App {

  .pageContent{
    min-height: calc(100vh - 130px);
    padding: 20px;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-direction: column;
    background-color: #001e3c;
    .whastsappFab{
      position:fixed;
      bottom:70px;
      right:10px;
      background-color:#25d366;
      color:#FFF;
      border-radius:10px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
      z-index:1000;
      .whastsappIcon{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .MuiSelect-root{
      display: flex;
      align-items: center;
    }
  }
}
.MuiStepLabel-iconContainer.MuiStepLabel-alternativeLabel{
  color:white;
}
.App-logo{
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  .App{
      .pageContent{
        padding-left:3%;
        padding-right:3%;
      }
  }
}