@import '../../../styles/theme.scss';
.orderPlacedContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .orderPlacedTitle{
        font-family: $primary-font;
        color: $primary-color;
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .orderPlacedSubTitle{
        font-family: $primary-font;
        color: $primary-color;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}