@import '../../../styles/theme.scss';
.sideBarContainer{
    width: 300px;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    .avatarLoginContainer{
        display: flex;
        padding: 1rem;
        padding-bottom: 0.5rem;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        .navbarIcon{
            color: $primary-color;
            font-size: 2rem;
        }
        .userAvatar{
            border-radius: 10px;
            width: 75px;
            height: 75px;
            box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        }
        .sideBarUnloggedUserContainer{
            display: flex;
            flex-direction: column;
            //padding: 1rem;
            .loginButton{
                padding: 0.5rem;
                font-weight: 500;
                border-radius: 10px;
            }
        }
    }
    .nameBarContainer{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        align-items: center;
        .sideBarName{
            font-family: $third-font;
            color: $primary-color;
            font-size: 1.5rem;
        }
        .expandIcon{
            color: $primary-color;
            font-size: 2.2rem;
            cursor: pointer;
        }
    }
    .sideBarTreats{
        color: rgba(249, 117, 71, 1);
        font-family: $third-font;
        padding: 1rem;
        padding-top: 0;
    }
    .sideBarItem{
        display: flex;
        padding: 1.5rem;
        align-items: center;
        cursor: pointer;
        .sideBarItemIcon{
            color: $primary-color;
            font-size: 2rem;
        }
        .sideBarItemText{
            color: $primary-color;
            margin-left: 1.2rem;
            font-family: $primary-font;
            font-size: 1.3rem;
        }
        .sideBarLoginText{
            color: $primary-color;
            margin-left: 1.2rem;
            font-family: $third-font;
            font-size: 1.2rem;
        }
        .sideBarItemImg{
            width: 32px;
        }
        .sideBarAboutUsText{
            width: 100%;
            color: $primary-color;
            font-family: $primary-font;
            font-size: 1.5rem;
            text-align: center;
        }
        &:hover{
            background-color: rgba($primary-color, 0.2);
        }
    }
    .sideBarAboutUsContainer{
        justify-self: flex-end;
        display: flex;
        flex-direction: column;
        .sideBarAboutUsButton{
            margin: 1rem;
            padding: 0.5rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .sideBarContainer{
        .sideBarItem{
            padding: 1.2rem;
            .sideBarItemText{
                font-size: 1.1rem;
            }
            .sideBarItemImg{
                width: 28px;
            }
            .sideBarAboutUsText{
                font-size: 1.2rem;
            }
        }
    }
}