$primary-color: #66b2ff;
$secondary-color: #071b2f;
$primary-font: 'Platonica', sans-serif;
$secondary-font:'Avenir', Arial;
$shop-color:#97B2A3;
$margin-medium:2rem;
$margin-small:0.5rem;
$margin-module:2rem;
$page-whitespace:9rem;
$shop-whitespace:6rem;
$title_size:2.5rem;
$second_title_size:1.5rem;
$third_title_size:1.3rem;
$subtitle_size:1rem;
$paragraph_size:0.8rem;
$disclaimer_size:0.55rem;
$border_radius:5px;
$min-height: calc(100vh - 80px);

